<h1>Reactive Forms</h1>

<main>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personalDetails">
      <label> First Name: </label>
        <input type="text" id="fname" placeholder="First Name here" formControlName="firstname" />
        <br>
        <div>
          <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['required']
            && reactiveForm.get('personalDetails.firstname').touched">
            First Name is required!
          </small>
          <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['noSpaceAllowed']">
            First Name cannot contain a space.
          </small>
        </div>
      <label> Last Name: </label>
      <input type="text" id="lname" placeholder="Last Name here" formControlName="lastname" />
        <br>
      <label> Email: </label>
      <input type="email" placeholder="Email address here.." formControlName="email" />
      <br>
      <small *ngIf="!reactiveForm.get('personalDetails.email').valid && reactiveForm.get('personalDetails.email').touched">
        Email address is required!
      </small>
        <br>
    </div>
      <label> Password: </label>
      <input type="password" placeholder="Enter Password here" formControlName="password" />
        <br>
      <label> Confirm Password: </label>
      <input type="password" placeholder="Confirm your password here" formControlName="confirmPassword" />
    <br>
    <input type="submit" value="Submit" id="btn">
  </form>
</main>
